@import './alignmentUtils.scss';
@import './multiselect.scss';

.error-text {
    color: red !important;
    transition: 0.3s;
}

.grid-error-layout {
    padding: 100px 0px 100px 0px;
}

.grid-progress-circle {
    padding: 200px 0px 200px 0px;
}

.view-title {
    font-size: 55px;
    font-weight: 300;
    margin: 10px 0 10px 0;
}

.max-800 {
    max-width: 800px !important;
}

.max-600 {
    max-width: 600px !important;
}

.max-400 {
    max-width: 400px !important;
}