.registration-data-layout {
  margin-top: auto;
  margin-bottom: 5%;
  flex-grow: 0;
}
.registration-navigation-layout {
  margin-top: auto;
  flex-grow: 0;
}
.registration-container {
  padding: 2% 5% 2% 5%;
}