.registration-data-layout {
  margin-top: auto;
  margin-bottom: 5%;
  flex-grow: 0;
}
.registration-navigation-layout {
  margin-top: auto;
  flex-grow: 0;
}
.registration-container {
  padding: 2% 5% 2% 5%;
}
.registration-snippit-logo {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
  font-size: 50px;
  font-weight: 500;
}
.registration-title-layout {
  font-size: 35px;
}