.error-card {
    border-radius: 12px;
}

.error-logo-layout {
    font-weight: 700;
    font-size: 50px;
    color: steelblue;
}

.error-title-layout {
    font-size: 24px;
}

.error-gohome-text-layout {

}